
<!DOCTYPE html>
<html>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1 {font-family: "Raleway", Arial, sans-serif}
    h1 {letter-spacing: 6px}
    </style>
    </head>
    <body>
    
    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
      <h1 class="w3-xlarge">Game Store</h1>
          <a href="/" class="w3-bar-item w3-button">Store<a>
          <a href="/library" class="w3-bar-item w3-button w3-light-grey">Library</a>
          <a href="/groups" class="w3-bar-item w3-button">Groups</a>
          <a href="/users" class="w3-bar-item w3-button w3-hide-small">Users</a>
          <a href="/friends" class="w3-bar-item w3-button w3-hide-small">Friends</a>
    </header>
    
<head>
    <title>Add New User</title>

</head>
<body>
    <h1>Add New User</h1>
    
    <!-- Form to add a new user -->
    <form action="/addUser" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="birthDate">Birth Date:</label>
        <input type="date" id="birthDate" name="birthDate" required>
        
        <button type="submit">Add User</button>

    </form>
</body>
</html>
